/* Add this CSS to your existing Home.css file */

.highlights {
  padding: 20px;
}

.welcome-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-text {
  flex: 1;
  margin-right: 20px;
}

.welcome-text h1{
  color: black;
}

.welcome-text h3 {
  font-size: 2em;
  color: #333;
}

.welcome-text p {
  margin: 10px 0;
  color: #666;
}

.welcome-text button {
  background-color: #1d72b8;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.welcome-text button:hover {
  background-color: #155a8a;
}

.welcome-image img {
  max-width: 100%;
  border-radius: 10px;
}

.featured {
  padding: 20px;
  background-color: #fff;
}

.featured h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.news {
  display: flex;
  justify-content: space-between;
}

.news-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  max-width: 30%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.news-card:hover {
  transform: translateY(-5px);
}

.news-card img {
  width: 100%;
  height: auto;
}

.news-card-content {
  padding: 15px;
}

.news-card-category {
  font-size: 0.9em;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.news-card h3 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.news-card p {
  margin: 10px 0 0;
  color: #666;
}

.community {
  padding: 20px;
  background-color: white;
}

.community h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}



.video-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.video-embed {
  text-align: center;
  margin: 10px;
}

.video-embed iframe {
  border-radius: 10px;
}

.video-embed:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video-embed p {
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
}