

/* Add this CSS to your existing App.css file */

.App {
  text-align: center;
}

.App-header {
  background-color: #000080;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover, nav a.active {
  text-decoration: underline;
}

main {
  padding: 20px;
}

footer {
  background-color: #000080;
  color: white;
  padding: 20px;
}

footer p, footer a {
  margin: 0;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100vh;
  background-image: url('./photos/background.png'); /* Add your background image here */
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
  color: white; /* Change text color to be readable against the background */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add text shadow for better readability */
}

.welcome-message h2 {
  font-size: 2.5em;
  margin-bottom: 50px;
}

.welcome-message button {
  background-color: #1d72b8;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.welcome-message button:hover {
  background-color: #155a8a;
}

.welcome-message img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}
.language-toggle {
  position: absolute; /* Changed from relative to absolute */
  top: 10px; /* Adjusted for the exact top position */
  right: 10px; /* Adjusted for the exact right position */
  display: flex;
}

.language-toggle button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #fff;
  color: #000080;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-toggle button:hover {
  background-color: #f0f0f0;
}





